<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VehicleApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A01BC46F1F5BFDE10032D1D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A01BC4831F5BFDE10032D1D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A01BC48E1F5BFDE10032D1D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
